flows.json
[{"id":"a8e9a1cc.fa2a","type":"tab","label":"Life Expectancy","disabled":false,"info":""},{"id":"5f28e03b.eb176","type":"ui_form","z":"a8e9a1cc.fa2a","name":"Predicting Life Expectancy","label":"Enter the details:","group":"e2b0f398.e8c7f","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Healthcare Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":140,"y":60,"wires":[["2e1defe0.829dc"]]},{"id":"2e1defe0.829dc","type":"function","z":"a8e9a1cc.fa2a","name":"Pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"UWXWA0KzDEMcqBFe2-I4gPdWCmqpKQ43s1ARRifX9SQ3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["384bf1e8.a8bfae"]]},{"id":"743b2a0a.a7ffc4","type":"function","z":"a8e9a1cc.fa2a","name":"Send to endpoint","func":"var token=msg.payload.access_token;\nvar instance_id=\"6c3123f4-d786-4828-b436-b26ba3078994\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\nmsg.payload = \n{\"fields\":[\"Year\",\"Status\",\"Adult Mortality\", \"Infant deaths\", \"Alcohol\",\n        \"Health expenditure\", \"Hepatitis B\",\n       \"Measles \", \"BMI \", \"Under-five deaths\", \"Polio\", \"Total expenditure\",\n       \"Diphtheria\", \"HIV/AIDS\", \"GDP\", \"Population\",\n       \"Thinness 1-19 years\", \"Thinness 5-9 years\",\n       \"Income\", \"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["f76610e1.63cc3"]]},{"id":"bf803bcb.8e25e8","type":"function","z":"a8e9a1cc.fa2a","name":"Get from endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["169f05df.49791a","a33fc61d.ef26a8"]]},{"id":"384bf1e8.a8bfae","type":"http request","z":"a8e9a1cc.fa2a","name":"Get a token","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":60,"wires":[["743b2a0a.a7ffc4"]]},{"id":"f76610e1.63cc3","type":"http request","z":"a8e9a1cc.fa2a","name":"Get access","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/6c3123f4-d786-4828-b436-b26ba3078994/deployments/f2f8e6c8-82b9-4ee7-865a-0bbc7c231574/online","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":260,"wires":[["bf803bcb.8e25e8","5a90b32c.1fda4c"]]},{"id":"5a90b32c.1fda4c","type":"debug","z":"a8e9a1cc.fa2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":260,"wires":[]},{"id":"a33fc61d.ef26a8","type":"debug","z":"a8e9a1cc.fa2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":320,"wires":[]},{"id":"169f05df.49791a","type":"ui_text","z":"a8e9a1cc.fa2a","group":"e2b0f398.e8c7f","order":1,"width":0,"height":0,"name":"Predicted Value","label":"Predicted Value: ","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":400,"wires":[]},{"id":"e2b0f398.e8c7f","type":"ui_group","z":"","name":"Predicting Life Expectancy","tab":"14700eee.dab271","order":1,"disp":true,"width":"6","collapse":false},{"id":"14700eee.dab271","type":"ui_tab","z":"","name":"Life expectancy","icon":"dashboard","disabled":false,"hidden":false}]